{:highlights [{:id #uuid "64ab5304-118f-432f-8d8f-372ec6f58440",
               :page 3,
               :position {:bounding {:x1 56.296875,
                                     :y1 52.4375,
                                     :x2 138.97698974609375,
                                     :y2 111.4375,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 52.4375,
                                   :x2 138.97698974609375,
                                   :y2 111.4375,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 3},
               :content {:text "타입"},
               :properties {:color "blue"}}
              {:id #uuid "64ab58d1-035f-4949-92f5-9096accf14d3",
               :page 4,
               :position {:bounding {:x1 56.296875,
                                     :y1 55.78125,
                                     :x2 712.1149291992188,
                                     :y2 111.78125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 55.78125,
                                   :x2 96.99486541748047,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 108.015625,
                                   :y1 55.78125,
                                   :x2 319.322998046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 330.34375,
                                   :y1 55.78125,
                                   :x2 620.885498046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 631.921875,
                                   :y1 55.78125,
                                   :x2 712.1149291992188,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 96.859375,
                                   :y1 60.78125,
                                   :x2 96.99486541748047,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 108.015625,
                                   :y1 60.78125,
                                   :x2 319.322998046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 330.34375,
                                   :y1 60.78125,
                                   :x2 620.885498046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 4},
               :content {:text "각 진수에 따라 정수를 표현하는 방법"},
               :properties {:color "blue"}}
              {:id #uuid "64ab58e4-832b-4d6c-96d2-302fdb4cfe74",
               :page 5,
               :position {:bounding {:x1 56.296875,
                                     :y1 55.78125,
                                     :x2 477.6930236816406,
                                     :y2 111.78125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 55.78125,
                                   :x2 176.244873046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 187.265625,
                                   :y1 55.78125,
                                   :x2 477.6930236816406,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 176.109375,
                                   :y1 60.78125,
                                   :x2 176.244873046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 187.265625,
                                   :y1 60.78125,
                                   :x2 398.671875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 5},
               :content {:text "정수와 부동소수점 변환"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b3b-5dc1-4e83-a6dc-afde27d1d2fa",
               :page 7,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 7},
               :content {:text "연산자를 통한 문자열 결합"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b48-4283-41c8-ace5-cc09f65817f4",
               :page 8,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 8},
               :content {:text "연산자를 통한 문자열 비교"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b59-28b3-4533-a021-5e1687965dc2",
               :page 9,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 9},
               :content {:text "메서드를 통한 접두어 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b69-98d8-4ac8-ab5b-3f97b7cb3681",
               :page 10,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 10},
               :content {:text "메서드를 통한 접미어 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b90-b480-4ff7-ac6f-603064107fe0",
               :page 11,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 228.62503051757812,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 228.62503051757812,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 82.046875,
                                   :y1 114.796875,
                                   :x2 176.234375,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 11},
               :content {:text "빈 문자열 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b96-34ff-484c-be41-041b34fa7ca4",
               :page 12,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 254.59378051757812,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 254.59378051757812,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 134,
                                   :y1 114.796875,
                                   :x2 202.203125,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 12},
               :content {:text "문자열 길이 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab6099-e8e4-44c3-8756-8955d8cb64cf",
               :page 14,
               :position {:bounding {:x1 56.296875,
                                     :y1 55.78125,
                                     :x2 358.8180236816406,
                                     :y2 111.78125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 55.78125,
                                   :x2 136.619873046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 147.640625,
                                   :y1 55.78125,
                                   :x2 358.8180236816406,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 136.484375,
                                   :y1 60.78125,
                                   :x2 136.619873046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 147.640625,
                                   :y1 60.78125,
                                   :x2 279.796875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 14},
               :content {:text "집합 접근과 수정"},
               :properties {:color "blue"}}
              {:id #uuid "64ab62fc-5534-4492-ac2a-7b60f07d682e",
               :page 17,
               :position {:bounding {:x1 56.296875,
                                     :y1 55.78125,
                                     :x2 319.1930236816406,
                                     :y2 111.78125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 55.78125,
                                   :x2 136.619873046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 147.640625,
                                   :y1 55.78125,
                                   :x2 319.1930236816406,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 136.484375,
                                   :y1 60.78125,
                                   :x2 136.619873046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 147.640625,
                                   :y1 60.78125,
                                   :x2 240.171875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 17},
               :content {:text "집합 연산 수행"},
               :properties {:color "blue"}}
              {:id #uuid "64ab6ac8-5f72-4979-923e-734a2c638f8e",
               :page 22,
               :position {:bounding {:x1 511,
                                     :y1 119,
                                     :x2 1062,
                                     :y2 430.30859375,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1688955596672},
               :properties {:color "red"}}
              {:id #uuid "64ab7025-dd8c-422e-887c-36bebfdda960",
               :page 26,
               :position {:bounding {:x1 56.078125,
                                     :y1 112.828125,
                                     :x2 566.497314453125,
                                     :y2 149.828125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 112.828125,
                                   :x2 566.497314453125,
                                   :y2 149.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 164.296875,
                                   :y1 115.828125,
                                   :x2 262.40625,
                                   :y2 147.109375,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 26},
               :content {:text "프로퍼티 관찰자 (Property observers)"},
               :properties {:color "blue"}}
              {:id #uuid "64abc6e9-0e1b-47c2-8d78-d862b72a1db9",
               :page 30,
               :position {:bounding {:x1 45.9375,
                                     :y1 45.59375,
                                     :x2 389.7692565917969,
                                     :y2 90.59375,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects ({:x1 45.9375,
                                   :y1 45.59375,
                                   :x2 389.7692565917969,
                                   :y2 90.59375,
                                   :width 890.9999999999999,
                                   :height 501.18749999999994}
                                  {:x1 176.03125,
                                   :y1 49.59375,
                                   :x2 325.28125,
                                   :y2 87.859375,
                                   :width 890.9999999999999,
                                   :height 501.18749999999994}),
                          :page 30},
               :content {:text "제너릭이 해결하는 문제"},
               :properties {:color "blue"}}
              {:id #uuid "64acbcbf-bf86-48ab-bea5-c3eafb205fc4",
               :page 63,
               :position {:bounding {:x1 177,
                                     :y1 468,
                                     :x2 619,
                                     :y2 486,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1689042108128},
               :properties {:color "red"}}
              {:id #uuid "64acede6-2999-478a-8b5e-d196d726b00d",
               :page 37,
               :position {:bounding {:x1 45.9375,
                                     :y1 45.59375,
                                     :x2 325.1130065917969,
                                     :y2 90.59375,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects ({:x1 45.9375,
                                   :y1 45.59375,
                                   :x2 325.1130065917969,
                                   :y2 90.59375,
                                   :width 890.9999999999999,
                                   :height 501.18749999999994}
                                  {:x1 111.359375,
                                   :y1 49.59375,
                                   :x2 260.625,
                                   :y2 87.859375,
                                   :width 890.9999999999999,
                                   :height 501.18749999999994}),
                          :page 37},
               :content {:text "타입 파라미터 이름"},
               :properties {:color "blue"}}
              {:id #uuid "64acf256-010f-4720-94a1-2b7ae9ef7d86",
               :page 47,
               :position {:bounding {:x1 39,
                                     :y1 173.0078125,
                                     :x2 515,
                                     :y2 217.88671875,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1689055839583},
               :properties {:color "purple"}}
              {:id #uuid "64acf28b-48df-49c2-be67-a22a2c34abad",
               :page 48,
               :position {:bounding {:x1 27,
                                     :y1 155,
                                     :x2 493,
                                     :y2 202,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1689055881877},
               :properties {:color "purple"}}
              {:id #uuid "64acf2b3-9f91-4603-baea-f3ad87acfdf0",
               :page 49,
               :position {:bounding {:x1 34,
                                     :y1 176,
                                     :x2 397,
                                     :y2 232,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1689055922635},
               :properties {:color "purple"}}
              {:id #uuid "64acf2f5-98e9-406f-9478-ed294bf6750b",
               :page 50,
               :position {:bounding {:x1 32,
                                     :y1 168,
                                     :x2 324,
                                     :y2 211.0703125,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1689055992403},
               :properties {:color "purple"}}
              {:id #uuid "64acf3b6-4ba3-466f-bc17-1fb7a5660bee",
               :page 55,
               :position {:bounding {:x1 42,
                                     :y1 198,
                                     :x2 449,
                                     :y2 334,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1689056181463},
               :properties {:color "purple"}}
              {:id #uuid "64ad0e3e-9884-487c-bd9a-0ec553554c0b",
               :page 56,
               :position {:bounding {:x1 47,
                                     :y1 236,
                                     :x2 537,
                                     :y2 418,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1689062972780},
               :properties {:color "purple"}}
              {:id #uuid "64ad0efc-bccb-4985-933f-51e2ad025fff",
               :page 60,
               :position {:bounding {:x1 22,
                                     :y1 238,
                                     :x2 414,
                                     :y2 421,
                                     :width 890.9999999999999,
                                     :height 501.18749999999994},
                          :rects (),
                          :page 60},
               :content {:text "[:span]", :image 1689063163370},
               :properties {:color "purple"}}],
 :extra {:page 63}}
