{:highlights [{:id #uuid "64ab5304-118f-432f-8d8f-372ec6f58440",
               :page 3,
               :position {:bounding {:x1 56.296875,
                                     :y1 52.4375,
                                     :x2 138.97698974609375,
                                     :y2 111.4375,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 52.4375,
                                   :x2 138.97698974609375,
                                   :y2 111.4375,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 3},
               :content {:text "타입"},
               :properties {:color "blue"}}
              {:id #uuid "64ab58d1-035f-4949-92f5-9096accf14d3",
               :page 4,
               :position {:bounding {:x1 56.296875,
                                     :y1 55.78125,
                                     :x2 712.1149291992188,
                                     :y2 111.78125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 55.78125,
                                   :x2 96.99486541748047,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 108.015625,
                                   :y1 55.78125,
                                   :x2 319.322998046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 330.34375,
                                   :y1 55.78125,
                                   :x2 620.885498046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 631.921875,
                                   :y1 55.78125,
                                   :x2 712.1149291992188,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 96.859375,
                                   :y1 60.78125,
                                   :x2 96.99486541748047,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 108.015625,
                                   :y1 60.78125,
                                   :x2 319.322998046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 330.34375,
                                   :y1 60.78125,
                                   :x2 620.885498046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 4},
               :content {:text "각 진수에 따라 정수를 표현하는 방법"},
               :properties {:color "blue"}}
              {:id #uuid "64ab58e4-832b-4d6c-96d2-302fdb4cfe74",
               :page 5,
               :position {:bounding {:x1 56.296875,
                                     :y1 55.78125,
                                     :x2 477.6930236816406,
                                     :y2 111.78125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 55.78125,
                                   :x2 176.244873046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 187.265625,
                                   :y1 55.78125,
                                   :x2 477.6930236816406,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 176.109375,
                                   :y1 60.78125,
                                   :x2 176.244873046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 187.265625,
                                   :y1 60.78125,
                                   :x2 398.671875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 5},
               :content {:text "정수와 부동소수점 변환"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b3b-5dc1-4e83-a6dc-afde27d1d2fa",
               :page 7,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 7},
               :content {:text "연산자를 통한 문자열 결합"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b48-4283-41c8-ace5-cc09f65817f4",
               :page 8,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 8},
               :content {:text "연산자를 통한 문자열 비교"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b59-28b3-4533-a021-5e1687965dc2",
               :page 9,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 9},
               :content {:text "메서드를 통한 접두어 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b69-98d8-4ac8-ab5b-3f97b7cb3681",
               :page 10,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 366.8594055175781,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 366.8594055175781,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 159.96875,
                                   :y1 114.796875,
                                   :x2 306.7051696777344,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 10},
               :content {:text "메서드를 통한 접미어 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b90-b480-4ff7-ac6f-603064107fe0",
               :page 11,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 228.62503051757812,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 228.62503051757812,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 82.046875,
                                   :y1 114.796875,
                                   :x2 176.234375,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 11},
               :content {:text "빈 문자열 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab5b96-34ff-484c-be41-041b34fa7ca4",
               :page 12,
               :position {:bounding {:x1 56.078125,
                                     :y1 111.796875,
                                     :x2 254.59378051757812,
                                     :y2 147.796875,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.078125,
                                   :y1 111.796875,
                                   :x2 254.59378051757812,
                                   :y2 147.796875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 134,
                                   :y1 114.796875,
                                   :x2 202.203125,
                                   :y2 144.828125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 12},
               :content {:text "문자열 길이 확인"},
               :properties {:color "blue"}}
              {:id #uuid "64ab6099-e8e4-44c3-8756-8955d8cb64cf",
               :page 14,
               :position {:bounding {:x1 56.296875,
                                     :y1 55.78125,
                                     :x2 358.8180236816406,
                                     :y2 111.78125,
                                     :width 1092.0000000000002,
                                     :height 614.2500000000001},
                          :rects ({:x1 56.296875,
                                   :y1 55.78125,
                                   :x2 136.619873046875,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 147.640625,
                                   :y1 55.78125,
                                   :x2 358.8180236816406,
                                   :y2 111.78125,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 136.484375,
                                   :y1 60.78125,
                                   :x2 136.619873046875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}
                                  {:x1 147.640625,
                                   :y1 60.78125,
                                   :x2 279.796875,
                                   :y2 107.671875,
                                   :width 1092.0000000000002,
                                   :height 614.2500000000001}),
                          :page 14},
               :content {:text "집합 접근과 수정"},
               :properties {:color "blue"}}],
 :extra {:page 17}}
