{:highlights [{:id #uuid "64e2b067-0470-485a-a4b7-df99f6c56be7",
               :page 23,
               :position {:bounding {:x1 8,
                                     :y1 40,
                                     :x2 930,
                                     :y2 512,
                                     :width 938.0000000000001,
                                     :height 527.625},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1692577894691},
               :properties {:color "red"}}],
 :extra {:page 31}}
