{:highlights [{:id #uuid "64adf6dc-6a8c-4cd6-8954-9cfac060b5a2",
               :page 18,
               :position {:bounding {:x1 55,
                                     :y1 325,
                                     :x2 719,
                                     :y2 483,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1689122523270},
               :properties {:color "green"}}
              {:id #uuid "64adf7b2-5311-4d02-8171-fe71e3be7228",
               :page 19,
               :position {:bounding {:x1 65,
                                     :y1 380,
                                     :x2 710,
                                     :y2 446,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1689122737472},
               :properties {:color "red"}}
              {:id #uuid "64adf83b-01a1-4056-892e-811f901d1929",
               :page 20,
               :position {:bounding {:x1 61,
                                     :y1 379,
                                     :x2 764,
                                     :y2 488,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1689122873805},
               :properties {:color "red"}}
              {:id #uuid "64adfc15-bd19-4f48-a89f-a140bbffc1fd",
               :page 21,
               :position {:bounding {:x1 61,
                                     :y1 298,
                                     :x2 686,
                                     :y2 504,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1689123860584},
               :properties {:color "red"}}
              {:id #uuid "64adfc34-f62a-4da5-bb67-50a8c9f2ef60",
               :page 22,
               :position {:bounding {:x1 58,
                                     :y1 250,
                                     :x2 683,
                                     :y2 468,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1689123889986},
               :properties {:color "green"}}
              {:id #uuid "64adfd47-bfd0-4e95-bf71-280c0095fab3",
               :page 23,
               :position {:bounding {:x1 56,
                                     :y1 285,
                                     :x2 600,
                                     :y2 430,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1689124166228},
               :properties {:color "blue"}}
              {:id #uuid "64adfdd6-cc70-43e7-a4c7-555c0503f05b",
               :page 24,
               :position {:bounding {:x1 63,
                                     :y1 348,
                                     :x2 615,
                                     :y2 456,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1689124307901},
               :properties {:color "red"}}
              {:id #uuid "64adfdf7-1850-4cbc-8996-560a33577363",
               :page 25,
               :position {:bounding {:x1 53,
                                     :y1 316,
                                     :x2 875,
                                     :y2 423,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1689124342874},
               :properties {:color "green"}}
              {:id #uuid "64adfe67-3c25-410e-a285-e5aa8debf1b0",
               :page 26,
               :position {:bounding {:x1 46,
                                     :y1 248,
                                     :x2 617,
                                     :y2 360,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1689124454963},
               :properties {:color "green"}}
              {:id #uuid "64adfe73-588c-45d6-b8ee-dd377b24cefb",
               :page 26,
               :position {:bounding {:x1 46,
                                     :y1 368,
                                     :x2 619,
                                     :y2 468,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1689124466341},
               :properties {:color "red"}}
              {:id #uuid "64adff72-aaf0-4590-9287-64528731e642",
               :page 27,
               :position {:bounding {:x1 54,
                                     :y1 273,
                                     :x2 698,
                                     :y2 399,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1689124721351},
               :properties {:color "blue"}}
              {:id #uuid "64ae011d-be84-4c79-987f-a1b7df7ba12d",
               :page 30,
               :position {:bounding {:x1 51,
                                     :y1 276,
                                     :x2 713,
                                     :y2 421,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1689125148103},
               :properties {:color "green"}}
              {:id #uuid "64ae0133-333b-4100-bf5f-03682f8bf85f",
               :page 31,
               :position {:bounding {:x1 64,
                                     :y1 270,
                                     :x2 872,
                                     :y2 391,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1689125170055},
               :properties {:color "red"}}
              {:id #uuid "64ae0170-6274-438c-9992-02f555fec284",
               :page 32,
               :position {:bounding {:x1 60,
                                     :y1 285,
                                     :x2 586,
                                     :y2 351.90625,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1689125233892},
               :properties {:color "blue"}}
              {:id #uuid "64ae04e3-df14-4e3a-98a8-5dd90d21a28e",
               :page 38,
               :position {:bounding {:x1 129,
                                     :y1 287,
                                     :x2 801,
                                     :y2 510,
                                     :width 923,
                                     :height 519.1875},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1689126112715},
               :properties {:color "yellow"}}
              {:id #uuid "64ae1042-d43f-48c2-96eb-c1d6b2c49eba",
               :page 51,
               :position {:bounding {:x1 84,
                                     :y1 271,
                                     :x2 619,
                                     :y2 492,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1689129025626},
               :properties {:color "blue"}}
              {:id #uuid "64ae1067-7d74-4987-94fb-0bd0aefaebd7",
               :page 52,
               :position {:bounding {:x1 71,
                                     :y1 264,
                                     :x2 647,
                                     :y2 517,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1689129062569},
               :properties {:color "green"}}
              {:id #uuid "64ae107b-28d4-4e52-93b5-be805a6afd30",
               :page 53,
               :position {:bounding {:x1 61,
                                     :y1 223,
                                     :x2 686,
                                     :y2 335,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1689129081573},
               :properties {:color "green"}}
              {:id #uuid "64ae108b-8622-4d12-bd83-2fb33e3b03c2",
               :page 53,
               :position {:bounding {:x1 53,
                                     :y1 362,
                                     :x2 700,
                                     :y2 523,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1689129098510},
               :properties {:color "red"}}
              {:id #uuid "64ae10d2-3dcd-486c-bea5-90d449b243d5",
               :page 54,
               :position {:bounding {:x1 65,
                                     :y1 273,
                                     :x2 727,
                                     :y2 497,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1689129168586},
               :properties {:color "red"}}
              {:id #uuid "64ae114a-5097-477c-a744-13d695bea654",
               :page 56,
               :position {:bounding {:x1 60,
                                     :y1 337,
                                     :x2 839,
                                     :y2 523,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1689129288378},
               :properties {:color "green"}}
              {:id #uuid "64ae1196-750a-4cb3-a3bc-149478743f31",
               :page 57,
               :position {:bounding {:x1 59,
                                     :y1 334,
                                     :x2 824,
                                     :y2 523,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1689129365597},
               :properties {:color "red"}}
              {:id #uuid "64ae1206-ac6e-4d42-a441-8b75832f1b89",
               :page 59,
               :position {:bounding {:x1 86,
                                     :y1 245,
                                     :x2 793,
                                     :y2 335.08203125,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 59},
               :content {:text "[:span]", :image 1689129480909},
               :properties {:color "red"}}
              {:id #uuid "64ae1216-8240-4249-9d46-aa2154552202",
               :page 59,
               :position {:bounding {:x1 75,
                                     :y1 387,
                                     :x2 811,
                                     :y2 477,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 59},
               :content {:text "[:span]", :image 1689129492853},
               :properties {:color "green"}}
              {:id #uuid "64ae12f4-2766-4493-8fc8-0841900e1a18",
               :page 60,
               :position {:bounding {:x1 79,
                                     :y1 283,
                                     :x2 877.40625,
                                     :y2 474.05859375,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 60},
               :content {:text "[:span]", :image 1689129744368},
               :properties {:color "green"}}
              {:id #uuid "64ae1323-af2d-4968-b026-3037ac90cff7",
               :page 61,
               :position {:bounding {:x1 69,
                                     :y1 243,
                                     :x2 672,
                                     :y2 504,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1689129762829},
               :properties {:color "red"}}
              {:id #uuid "64ae148d-39c7-4cda-95c7-31bb4353afa1",
               :page 67,
               :position {:bounding {:x1 59,
                                     :y1 250,
                                     :x2 829,
                                     :y2 492,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 67},
               :content {:text "[:span]", :image 1689130123864},
               :properties {:color "blue"}}
              {:id #uuid "64ae14ab-faf5-4622-b836-30e343bd33fb",
               :page 68,
               :position {:bounding {:x1 68,
                                     :y1 246,
                                     :x2 838,
                                     :y2 505,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 68},
               :content {:text "[:span]", :image 1689130154140},
               :properties {:color "blue"}}],
 :extra {:page 79}}
