{:highlights [{:id #uuid "64ce4a2c-1548-48c5-b884-3433d52467cc",
               :page 5,
               :position {:bounding {:x1 55.984375,
                                     :y1 55.703125,
                                     :x2 163.59735107421875,
                                     :y2 112.703125,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 55.984375,
                                   :y1 55.703125,
                                   :x2 163.59735107421875,
                                   :y2 112.703125,
                                   :width 1086,
                                   :height 610.875}),
                          :page 5},
               :content {:text "MVC"},
               :properties {:color "red"}}
              {:id #uuid "64ce4a46-02ab-46fb-bd11-eab84921ba67",
               :page 6,
               :position {:bounding {:x1 26,
                                     :y1 177,
                                     :x2 1060,
                                     :y2 579,
                                     :width 1086,
                                     :height 610.875},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1691241030597},
               :properties {:color "red"}}
              {:id #uuid "64ce4a52-510b-4585-9ffb-6deeaf8519bc",
               :page 7,
               :position {:bounding {:x1 55.984375,
                                     :y1 55.703125,
                                     :x2 160.04177856445312,
                                     :y2 112.703125,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 55.984375,
                                   :y1 55.703125,
                                   :x2 160.04177856445312,
                                   :y2 112.703125,
                                   :width 1086,
                                   :height 610.875}),
                          :page 7},
               :content {:text "MVP"},
               :properties {:color "red"}}
              {:id #uuid "64ce4b3b-dd75-45da-82a9-97c2188a46eb",
               :page 8,
               :position {:bounding {:x1 138,
                                     :y1 204,
                                     :x2 990,
                                     :y2 521,
                                     :width 1086,
                                     :height 610.875},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1691241274970},
               :properties {:color "red"}}
              {:id #uuid "64ce4dc8-b8a1-4327-b60f-aaea14c95c19",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 1086,
                                     :y2 593.5502319335938,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 1086,
                                   :y2 0,
                                   :width 1086,
                                   :height 610.875}
                                  {:x1 580.6616821289062,
                                   :y1 577.5502319335938,
                                   :x2 580.6781005859375,
                                   :y2 593.5502319335938,
                                   :width 1086,
                                   :height 610.875}),
                          :page 10},
               :content {:text nil},
               :properties {:color "red"}}
              {:id #uuid "64ce4dcb-d261-47d9-b581-f6ea19212ce0",
               :page 10,
               :position {:bounding {:x1 59.65625,
                                     :y1 577.5625,
                                     :x2 580.68798828125,
                                     :y2 593.5625,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 59.65625,
                                   :y1 577.5625,
                                   :x2 580.68798828125,
                                   :y2 593.5625,
                                   :width 1086,
                                   :height 610.875}),
                          :page 10},
               :content {:text "https://saad-eloulladi.medium.com/ios-swift-mvp-architecture-pattern-a2b0c2d310a3"},
               :properties {:color "red"}}
              {:id #uuid "64ce4dd5-a984-4bb1-ac00-a43dea1e5fee",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 1086,
                                     :y2 593.5502319335938,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 1086,
                                   :y2 0,
                                   :width 1086,
                                   :height 610.875}
                                  {:x1 580.6616821289062,
                                   :y1 577.5502319335938,
                                   :x2 580.6781005859375,
                                   :y2 593.5502319335938,
                                   :width 1086,
                                   :height 610.875}),
                          :page 10},
               :content {:text nil},
               :properties {:color "red"}}
              {:id #uuid "64ce4dec-ae8d-435a-84de-752388654c4b",
               :page 11,
               :position {:bounding {:x1 55.984375,
                                     :y1 55.703125,
                                     :x2 200.89723205566406,
                                     :y2 112.703125,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 55.984375,
                                   :y1 55.703125,
                                   :x2 200.89723205566406,
                                   :y2 112.703125,
                                   :width 1086,
                                   :height 610.875}),
                          :page 11},
               :content {:text "MVVM"},
               :properties {:color "red"}}
              {:id #uuid "64ce4e10-0334-4a1d-a000-9e07c1136bcc",
               :page 12,
               :position {:bounding {:x1 133,
                                     :y1 155,
                                     :x2 975,
                                     :y2 603,
                                     :width 1086,
                                     :height 610.875},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1691242000654},
               :properties {:color "red"}}
              {:id #uuid "64ce4e67-4ebe-47dc-b0ef-09ee7842ad98",
               :page 14,
               :position {:bounding {:x1 55.984375,
                                     :y1 55.703125,
                                     :x2 142.14759826660156,
                                     :y2 112.703125,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 55.984375,
                                   :y1 55.703125,
                                   :x2 142.14759826660156,
                                   :y2 112.703125,
                                   :width 1086,
                                   :height 610.875}),
                          :page 14},
               :content {:text "MVI"},
               :properties {:color "red"}}
              {:id #uuid "64ce4e91-3ac4-4e25-843a-f9ce6dc1984e",
               :page 15,
               :position {:bounding {:x1 173,
                                     :y1 238,
                                     :x2 916,
                                     :y2 522,
                                     :width 1086,
                                     :height 610.875},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1691242129215},
               :properties {:color "red"}}
              {:id #uuid "64ce504c-95e4-4fe2-8950-e972de49872e",
               :page 17,
               :position {:bounding {:x1 55.984375,
                                     :y1 55.703125,
                                     :x2 194.55870056152344,
                                     :y2 112.703125,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 55.984375,
                                   :y1 55.703125,
                                   :x2 194.55870056152344,
                                   :y2 112.703125,
                                   :width 1086,
                                   :height 610.875}),
                          :page 17},
               :content {:text "VIPER"},
               :properties {:color "red"}}
              {:id #uuid "64ce5095-87e4-4e2c-b245-9868921e741e",
               :page 19,
               :position {:bounding {:x1 143,
                                     :y1 169,
                                     :x2 958,
                                     :y2 610,
                                     :width 1086,
                                     :height 610.875},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1691242644938},
               :properties {:color "red"}}
              {:id #uuid "64ce50a3-9650-4b8d-9357-c312136ff400",
               :page 21,
               :position {:bounding {:x1 55.984375,
                                     :y1 55.703125,
                                     :x2 161.66818237304688,
                                     :y2 112.703125,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 55.984375,
                                   :y1 55.703125,
                                   :x2 161.66818237304688,
                                   :y2 112.703125,
                                   :width 1086,
                                   :height 610.875}),
                          :page 21},
               :content {:text "RIBs"},
               :properties {:color "red"}}
              {:id #uuid "64ce50c6-c857-4961-8e00-d39158579590",
               :page 22,
               :position {:bounding {:x1 184,
                                     :y1 221,
                                     :x2 946,
                                     :y2 533,
                                     :width 1086,
                                     :height 610.875},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1691242694639},
               :properties {:color "red"}}
              {:id #uuid "64ce50d9-b2ed-45f4-8996-93c79a8a8bdb",
               :page 16,
               :position {:bounding {:x1 58.546875,
                                     :y1 578.78125,
                                     :x2 280.58563232421875,
                                     :y2 594.78125,
                                     :width 1086,
                                     :height 610.875},
                          :rects ({:x1 58.546875,
                                   :y1 578.78125,
                                   :x2 280.58563232421875,
                                   :y2 594.78125,
                                   :width 1086,
                                   :height 610.875}),
                          :page 16},
               :content {:text "https://habr.com/en/articles/583376/"},
               :properties {:color "red"}}],
 :extra {:page 14}}
