{:highlights [{:id #uuid "64c9a5b5-43f7-41c7-bef5-8bb2d57fb384",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 174.46780395507812,
                                     :y2 81.59375,
                                     :width 605.0000000000001,
                                     :height 340.31250000000006},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 605.0000000000001,
                                   :height 340.31250000000006}
                                  {:x1 31.0625,
                                   :y1 61.59375,
                                   :x2 174.46780395507812,
                                   :y2 81.59375,
                                   :width 605.0000000000001,
                                   :height 340.31250000000006}),
                          :page 4},
               :content {:text "테스트 주도 개발 절차"},
               :properties {:color "purple"}}
              {:id #uuid "64c9a5be-74db-482f-b77d-5c99b47fe620",
               :page 4,
               :position {:bounding {:x1 239,
                                     :y1 16,
                                     :x2 581,
                                     :y2 340,
                                     :width 605.0000000000001,
                                     :height 340.31250000000006},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1690936764596},
               :properties {:color "green"}}
              {:id #uuid "64c9acc0-5d90-4da1-a797-436dfabff4fc",
               :page 10,
               :position {:bounding {:x1 10,
                                     :y1 93,
                                     :x2 569,
                                     :y2 324,
                                     :width 605.0000000000001,
                                     :height 340.31250000000006},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1690938559697},
               :properties {:color "green"}}
              {:id #uuid "64caf968-ba5a-4291-bdc8-b0d3605f974c",
               :page 27,
               :position {:bounding {:x1 44.69709396362305,
                                     :y1 43.46687316894531,
                                     :x2 208.48856735229492,
                                     :y2 90.46685791015625,
                                     :width 867.0000000000002,
                                     :height 487.6875000000001},
                          :rects ({:x1 44.69709396362305,
                                   :y1 43.46687316894531,
                                   :x2 208.48856735229492,
                                   :y2 90.46685791015625,
                                   :width 867.0000000000002,
                                   :height 487.6875000000001}),
                          :page 27},
               :content {:text nil},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
