{:highlights [{:id #uuid "64ae4762-7b3e-4e24-83db-b525f4433e44",
               :page 27,
               :position {:bounding {:x1 252,
                                     :y1 183,
                                     :x2 680,
                                     :y2 511,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1689143137416},
               :properties {:color "yellow"}}
              {:id #uuid "64ae4839-2cd2-4d3f-99a7-a5c1041f9be1",
               :page 29,
               :position {:bounding {:x1 87,
                                     :y1 234,
                                     :x2 847,
                                     :y2 522,
                                     :width 931,
                                     :height 523.6875},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1689143352234},
               :properties {:color "yellow"}}],
 :extra {:page 287}}
