{:highlights [{:id #uuid "6498fef6-e7c9-4460-8975-604895fb4aec",
               :page 16,
               :position {:bounding {:x1 74.234375,
                                     :y1 88.21875,
                                     :x2 262.90625,
                                     :y2 109.21875,
                                     :width 338.99999999999994,
                                     :height 190.68749999999997},
                          :rects ({:x1 74.234375,
                                   :y1 88.21875,
                                   :x2 262.90625,
                                   :y2 109.21875,
                                   :width 338.99999999999994,
                                   :height 190.68749999999997}),
                          :page 16},
               :content {:text "Commit은 어떻게 쪼갤까?"},
               :properties {:color "yellow"}}
              {:id #uuid "6498ff46-8f7f-4995-a775-0b9191621b6d",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 594.1088256835938,
                                     :y2 199.03125,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 76.21875,
                                   :y1 158.453125,
                                   :x2 594.1088256835938,
                                   :y2 179.453125,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 76.21875,
                                   :y1 178.03125,
                                   :x2 334.15167236328125,
                                   :y2 199.03125,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 3},
               :content {:text "git add / git commit / .gitignore / git restore / git reset / git revert git merge / git rebase / git stash"},
               :properties {:color "yellow"}}
              {:id #uuid "64991dd9-dc90-496f-a013-2ce23c641f7e",
               :page 11,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 110.47705841064453,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 110.47705841064453,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 11},
               :content {:text "git add"},
               :properties {:color "red"}}
              {:id #uuid "64991e45-a9dc-4bc4-bdb2-bf567b955ccc",
               :page 12,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 149.7993927001953,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 149.7993927001953,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 12},
               :content {:text "git commit"},
               :properties {:color "red"}}
              {:id #uuid "64991f06-6c0a-4ebf-98f6-6715d31db518",
               :page 13,
               :position {:bounding {:x1 39.078125,
                                     :y1 34.234375,
                                     :x2 368.0020446777344,
                                     :y2 73.234375,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 39.078125,
                                   :y1 34.234375,
                                   :x2 368.0020446777344,
                                   :y2 73.234375,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 158.671875,
                                   :y1 38.234375,
                                   :x2 249.67210388183594,
                                   :y2 70.78125,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 13},
               :content {:text "Commit 템플릿 생성하기"},
               :properties {:color "red"}}
              {:id #uuid "64991f9c-9471-40a8-9c83-0909f4dc9acd",
               :page 15,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 548.859375,
                                     :y2 164.3125,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 42.890625,
                                   :y1 145.3125,
                                   :x2 548.859375,
                                   :y2 164.3125,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 15},
               :content {:text "Karma 방식 (http://karma-runner.github.io/6.4/dev/git-commit-msg.html)"},
               :properties {:color "blue"}}
              {:id #uuid "6499208e-6d6f-4c19-b7e5-b287ff692cd0",
               :page 18,
               :position {:bounding {:x1 38.921875,
                                     :y1 128.265625,
                                     :x2 137.01263427734375,
                                     :y2 155.265625,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 128.265625,
                                   :x2 137.01263427734375,
                                   :y2 155.265625,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 18},
               :content {:text ".gitignore"},
               :properties {:color "red"}}
              {:id #uuid "6499213d-162b-4048-9e79-35dea85bd22e",
               :page 19,
               :position {:bounding {:x1 39.078125,
                                     :y1 34.234375,
                                     :x2 654.25,
                                     :y2 73.234375,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 39.078125,
                                   :y1 34.234375,
                                   :x2 654.25,
                                   :y2 73.234375,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 94.734375,
                                   :y1 38.234375,
                                   :x2 640.2208251953125,
                                   :y2 70.78125,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 19},
               :content {:text "그럼 보안 관련 중요한 파일들은 어떻게 관리할까?"},
               :properties {:color "purple"}}
              {:id #uuid "64992165-a108-4f51-8fbe-f91558835cdf",
               :page 22,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 549.8666381835938,
                                     :y2 234.140625,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 86.078125,
                                   :y1 184.65625,
                                   :x2 549.8666381835938,
                                   :y2 203.65625,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 40.703125,
                                   :y1 215.140625,
                                   :x2 210.875,
                                   :y2 234.140625,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 22},
               :content {:text "Working Directory에선 파일을 유지한 채 Git에 올라간 파일을 제거하려면 git rm --cached {파일 명}"},
               :properties {:color "purple"}}
              {:id #uuid "6499218c-9ff6-4ace-a63c-647a2e7aa7d3",
               :page 24,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 145.0794219970703,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 145.0794219970703,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 24},
               :content {:text "git restore"},
               :properties {:color "red"}}
              {:id #uuid "649921a0-0657-4054-9b4b-574aa80b934c",
               :page 25,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 244.2508087158203,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 244.2508087158203,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 25},
               :content {:text "git commit --amend"},
               :properties {:color "red"}}
              {:id #uuid "649921af-6e63-4ec6-ae1d-5e3f20ea57e6",
               :page 27,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 123.7701187133789,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 123.7701187133789,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 27},
               :content {:text "git reset"},
               :properties {:color "red"}}
              {:id #uuid "649921b5-fa19-4aad-af5d-4cb370d5e0a5",
               :page 29,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 288.7274169921875,
                                     :y2 110.265625,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 38.921875,
                                   :y1 85.265625,
                                   :x2 288.7274169921875,
                                   :y2 110.265625,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 29},
               :content {:text "git reset / git reflog의 조합"},
               :properties {:color "red"}}
              {:id #uuid "649921bc-5954-4c36-8b27-8be315e99631",
               :page 30,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 131.84133911132812,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 131.84133911132812,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 30},
               :content {:text "git revert"},
               :properties {:color "red"}}
              {:id #uuid "649921c5-5ba9-4788-9047-a24322eb76d4",
               :page 31,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 137.19073486328125,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 137.19073486328125,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 31},
               :content {:text "git merge"},
               :properties {:color "red"}}
              {:id #uuid "649921cb-de60-468e-8d1f-d10a6e3bdb13",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 141.86117553710938,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}
                                  {:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 141.86117553710938,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 33},
               :content {:text "git rebase"},
               :properties {:color "red"}}
              {:id #uuid "649921e0-ce54-4838-a34c-45d42e432e72",
               :page 44,
               :position {:bounding {:x1 38.921875,
                                     :y1 85.96875,
                                     :x2 127.7867660522461,
                                     :y2 112.96875,
                                     :width 758.0000000000001,
                                     :height 426.37500000000006},
                          :rects ({:x1 38.921875,
                                   :y1 85.96875,
                                   :x2 127.7867660522461,
                                   :y2 112.96875,
                                   :width 758.0000000000001,
                                   :height 426.37500000000006}),
                          :page 44},
               :content {:text "git stash"},
               :properties {:color "red"}}
              {:id #uuid "64997e42-4ee1-45f1-a01e-f0df1fbfaf61",
               :page 37,
               :position {:bounding {:x1 48.015625,
                                     :y1 163.46875,
                                     :x2 328.5097351074219,
                                     :y2 175.46875,
                                     :width 378.00000000000006,
                                     :height 212.62500000000003},
                          :rects ({:x1 48.015625,
                                   :y1 163.46875,
                                   :x2 328.5097351074219,
                                   :y2 175.46875,
                                   :width 378.00000000000006,
                                   :height 212.62500000000003}),
                          :page 37},
               :content {:text "Remote에 올린 커밋 로그와 해시값이 다르기 때문에 강제 푸쉬가 필요함"},
               :properties {:color "purple"}}
              {:id #uuid "6499810b-250e-48e3-82d1-db35b3830e54",
               :page 54,
               :position {:bounding {:x1 19.484375,
                                     :y1 17.0625,
                                     :x2 250.59669494628906,
                                     :y2 37.0625,
                                     :width 377.99999999999994,
                                     :height 212.62499999999997},
                          :rects ({:x1 19.484375,
                                   :y1 17.0625,
                                   :x2 250.59669494628906,
                                   :y2 37.0625,
                                   :width 377.99999999999994,
                                   :height 212.62499999999997}),
                          :page 54},
               :content {:text "Github에 있는 내용 로컬로 가져오기"},
               :properties {:color "red"}}
              {:id #uuid "649993ec-3437-426e-a226-5350c4f502fc",
               :page 44,
               :position {:bounding {:x1 55.6875,
                                     :y1 170.828125,
                                     :x2 565.15625,
                                     :y2 197.828125,
                                     :width 1055.9999999999998,
                                     :height 593.9999999999999},
                          :rects ({:x1 55.6875,
                                   :y1 170.828125,
                                   :x2 565.15625,
                                   :y2 197.828125,
                                   :width 1055.9999999999998,
                                   :height 593.9999999999999}
                                  {:x1 112.78125,
                                   :y1 173.828125,
                                   :x2 555.21875,
                                   :y2 195.828125,
                                   :width 1055.9999999999998,
                                   :height 593.9999999999999}),
                          :page 44},
               :content {:text "열심히 작업을 하다가 다른 브랜치로 이동할 일이 생긴다면?"},
               :properties {:color "purple"}}
              {:id #uuid "64999512-003c-465b-bae9-573098f44d80",
               :page 55,
               :position {:bounding {:x1 54.4375,
                                     :y1 48.53125,
                                     :x2 325.4598388671875,
                                     :y2 104.53125,
                                     :width 1055.9999999999998,
                                     :height 593.9999999999999},
                          :rects ({:x1 54.4375,
                                   :y1 48.53125,
                                   :x2 325.4598388671875,
                                   :y2 104.53125,
                                   :width 1055.9999999999998,
                                   :height 593.9999999999999}),
                          :page 55},
               :content {:text "Pull Request"},
               :properties {:color "red"}}],
 :extra {:page 64}}
